body{
    background-color: honeydew;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    /* color: gold; */
    font-size: 80px;
    background: -webkit-linear-gradient(rgb(255, 225, 52), orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
}
#input{
    padding: 15px;
    width: 200px;
    /* margin-bottom: 50px; */
    border: 1px solid greenyellow;
    border-radius: 30px;
    outline: none;
    text-align: center;
    margin: 0 30px;
}
#input:hover{
    box-shadow: 3px 5px 10px #c0e90b;
}
#input::placeholder{
    text-align: center;
    text-decoration: rgb(197, 240, 7);
}
#button{
    padding: 10px;
    width: 150px;
    border: 1px solid green;
    border-radius: 20px;
}
#button:hover{
    box-shadow: 3px 5px 10px #023614;
}
.subtext{
    /* color: orangered; */
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(255, 225, 52), orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.box {
    margin-right: 25px;
    width: 150px;
    padding: 15px;
    background-color: rgb(253, 215, 1);
    border-radius: 20px;
    border: none;
}
.time{
    font-size: 25px;
}